.new-collections{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom:100px ;

}
.new-collections h1{
    font-size: 50px;
    color: black;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: black;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}