.popular{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 60vh;

}
.popular h1{
    font-size: 50px;
    color: black;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: black;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}