.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
   align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 60px;
    height: 60px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 3px;
    background: red;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart img{
    width: 60px;
    height: 60px;
}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border-radius: 75px;
    border: 1px solid gray;
    font-size: 20px;
    color: gray;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: aquamarine;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    margin-top: -35px;
    justify-content: center;
    align-items: center;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: aliceblue;
}